html,
body {
    height: 100%;
    max-width: 100%;
    font-size: 1rem;
}

html {
    background-color: black;
}

#bg {
    background: url("/css/DSC_1227.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    min-height: 100vh;
}

.bg-dimmer {
    background: rgba(0, 0, 0, 0.65)
}

.container .project-title {
    width: 95%;
    min-height: 100%;
    padding-top: 12px;
}

.container .project-info {
    width: 95%;
    min-height: 100%;
}

.title-info{
    align-self: end;
}

.info-spacer {
    margin-top: 25px;
    margin-bottom: 25px;
}
.thumb-photo {
    width: 265px; 
    cursor: pointer;   
}
.full-photo {
    width: 100%;
}

.modal-dialog {
    max-width: 85%;
}

footer {
    padding-right: 0 !important;
}