html,
body {
    height: 100%;
    max-width: 100%;
    font-size: 1rem;
}

html {
    background-color: black;
}

#bg {
    background: url("/css/DSC_1227.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    min-height: 100vh;
}

.bg-dimmer {
    background: rgba(0, 0, 0, 0.70)
}

.bar-dimmer {
    background: rgba(0, 0, 0, 0.95)
}

.container .project-title {
    width: 95%;
    min-height: 100%;
    padding-top: 12px;
}

.container .project-info {
    width: 95%;
    min-height: 100%;
}

.container .content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    color: white;
}

.container .photo-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    min-height: 75%;
}

.title-info{
    align-self: end;
}

.info-spacer {
    margin-top: 25px;
    margin-bottom: 25px;
}
.thumb-photo {
    width: 250px; 
    cursor: pointer;
    border-radius: 1rem;
}
.full-photo {
    width: 100%;
}

.modal-dialog {
    max-width: 85%;
}

footer {
    padding-right: 0 !important;
}

.carousel .carousel-control-next-icon, .carousel .carousel-control-prev-icon {
    width: 75px;
    height: 75px;
    background-color: rgba(100, 120, 120, 0.5);
    border-radius: 40px;
}

.modal-dialog .modal-content {
    border-radius: .25rem;
}

.home_pic {
    border-radius: 200px;
}
